body{
    background-color: #fff;
}
.header-banner .navbar{
    background-color: #fff;
}
.header-banner .navbar .header-icons i{
    color: var(--dark);
    cursor: pointer;
}
.header-banner .navbar:hover{
    background-color: #fff;
}

.select-menu{
    width: 100%;
    height: 0;
}
.select-menu .select-btn{
    display: flex;
    background: #f5f5f5;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 50px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}
.select-menu .select-btn span{
    font-size: 15px;
}
.select-btn i{
    font-size: 20px;
    transition: 0.3s;
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu .options{
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
}
.select-menu.active .options{
    display: block;
    max-height: 250px;
    overflow: hidden;
    overflow-y: auto;
}
.options .option{
    display: flex;
    max-height: 20px;
    cursor: pointer;
    padding: 16px 8px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
    font-weight: 500;
}
.options .option:hover{
    background: #F2F2F2;
}
.option .option-text{
    color: #333;
}
.search-section .search-box input{
    width: 100%;
    border: none;
    background-color: #F2F2F2;
    color: #333;
    padding: 8px 20px;
    border-radius: 50px;
}
.title-section .title a{
    color: #999;
}
.title-section .title span{
    margin: 0 5px;
    pointer-events: none;
    color: #999;
}
.title-section .title h4{
    font-size: 20px;
    font-weight: 400;
    pointer-events: none;
}

.project-banner-image{ 
   /* width: 100%; */
   height: 65vh;                                                                                        
}
.project-banner-image .banner-main-img{
    background: url(./img/getCroppedImage\ \(1\).jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;

}
.project-banner-image .project-banner-content{
    width: 100%;
}
.project-banner-image .project-banner-content h3{
    position: absolute;
    bottom: 20%;
    color: white;
    pointer-events: none;
    z-index: 1;
}
.project-banner-shadow{
    height: 100%;
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,.35) 0%,rgba(0,0,0,.4) 30%,rgba(0,0,0,0) 65%);
}

.project-content-section p{
    font-weight: 300;
    color: #212529;
    text-align: justify;
}
.gallery-slider-section{
    padding-bottom: 55px;
    border-bottom: 1px solid #dee2e6;
}

.gallery-slider-section .swiper-slide img{
    width: 90%;
    object-fit: cover;
}
.swiper .arrow{
    color: var(--dark);
}
.more-project-section .swiper-button-prev{
    left: 85%;
}
.more-project-section .section-slider-button{
    color: var(--light-color);
    top: 12px;
    right: 5%;
}
.more-project-section .section-slider-button::after{
    font-size: 20px;
}