@media (min-width: 1200px) {
    .container {
        max-width: 1430px;
    }
    
}
@media (max-width: 1200px) {
    .project-banner-image .project-banner-content h3{
        bottom: 18%;
    }
    .more-project-section .swiper-button-prev{
        left: 80%;
    }
    .more-project-section .section-slider-button{
        right: 10%;
    }
}


@media (max-width: 991px) {
    .container {
        max-width: 1250px;
    }

    .section-image,
    .section-card {
        height: 290px;
    }

    .header-banner .navbar-slide.active {
        left: 30%;
        width: 70vw;
    }
    .project-banner-image .project-banner-content h3{
        bottom: 15%;
    }
    .more-project-section .swiper-button-prev{
        left: 85%;
    }
    .more-project-section .section-slider-button{
        right: 5%;
    }
    .gallery-slider-section .arrow::after{
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    .header-banner .swiper .banner-content {
        right: 0;
        bottom: 80px;
        left: 0;
    }

    .scroll-container {
        bottom: 0px;
        /* right: 190px; */
        padding: 20px 0;
    }

    .header-banner .navbar-slide-right.active {
        left: 0%;
        width: 100vw;
    }

    .header-banner .navbar-slide-left.active {
        right: 0%;
        width: 0vw;
    }
    .select-menu .select-btn span{
        font-size: 13px;
    }
    .select-btn i{
        font-size: 17px;
    }
    .search-section .search-box input{
        font-size: 13px;
    }
    .project-banner-image .project-banner-content h3{
        bottom: 15%;
    }
    .more-project-section .swiper-button-prev{
        left: 80%;
    }
}

@media (max-width: 577px) {
    .header-banner .navbar{
        background-color: var(--bg-dark);
    }
    .header-banner .navbar .header-icons i{
        color: white;
    }
    .search-fixed{
        top: 8.1%;
    }
    .scroll-container {
        right: 0px;
    }
    .project-banner-image .project-banner-content h3{
        bottom: 12%;
    }
    .more-project-section .swiper-button-prev{
        left: 75%;
    }
    .gallery-slider-section .arrow::after{
        font-size: 28px;
    }
    .section-links ul li {
        margin: 15px 0;
    }

    .copyrights p {
        font-size: 12px;
    }
}